.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.square {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.square:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.booked {
    background-color: orange;
}

.available {
    background-color: aquamarine;
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.caption h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}